@media screen and (max-width: 992px) {
    .clock{
    	display: none !important;
    }
}

#about{
	color: black !important;
	
}
.csmain{
	background-image: url('../img/events/csmain2.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	padding-top: 200px;
}

